span {
    margin: 0;
}

/* ------ HEADER ------- */

.job-order-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.job-order-header-left,
.job-order-header-right {
    display: flex;
    flex-direction: column;
}

.job-order-header-left {
    width: 60%;
}

.job-order-header-right {
    width: 40%;
    text-align: right;
}

/* ------ TABLE HEADER ------- */

.table-head,
.table-product {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table-head thead,
.table-product thead {
    font-weight: bold;
    background: #f5f5f5;
}

.table-head th, .table-head td,
.table-product th, .table-product td {
    border: 1px solid #000;
    padding: 4px 3px;
    font-size: 11px;
}

.table-product tbody tr.bold-row {
    font-weight: bold;
    background: #fafafa;
}

/* Align numeric columns */
.table-product td:nth-child(5),
.table-product td:nth-child(7),
.table-product td:last-child {
    text-align: right;
}

/* Make 'To take/cut' lines slightly smaller */
.table-product tr.detail-row td {
    font-size: 10px;
}

/* Remove heavy center alignment everywhere */
tr, td {
    text-align: left;
}

/* But keep main headers centered */
.table-product thead tr td,
.table-head thead tr td {
    text-align: center;
}

/* Better spacing */
td {
    vertical-align: middle;
}
